.search-bar-container{
    display: flex;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.form-input{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: 8px;
}

